@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  :root {
    --background: 0 0% 100%;
    --foreground: 183 100% 20%;
    --card: 0 0% 100%;
    --card-foreground: 183 100% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 183 100% 20%;
    --primary: 51 100% 50%;
    --primary-foreground: 183 100% 20%;
    --secondary: 183 100% 33%;
    --secondary-foreground: 0 0% 100%;
    --muted: 183 30% 94%;
    --muted-foreground: 183 30% 50%;
    --accent: 183 30% 97%;
    --accent-foreground: 183 100% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 183 30% 88%;
    --input: 183 30% 91%;
    --ring: 183 100% 33%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 183 100% 10%;
    --foreground: 0 0% 98%;
    --card: 183 100% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 183 100% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 51 100% 50%;
    --primary-foreground: 183 100% 20%;
    --secondary: 183 100% 33%;
    --secondary-foreground: 0 0% 100%;
    --muted: 183 100% 15%;
    --muted-foreground: 183 100% 60%;
    --accent: 183 100% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 183 100% 20%;
    --input: 183 100% 15%;
    --ring: 183 100% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
